doctype html 
html 
 head 
  title express 
  link(rel="stylesheet",href="/style.css")
 body
   header 
    nav 
     ul#nvul
      li#navli
       a(href='/') home
     
      li#navli
       a(href='/services') services 
     main 
     p contact page